.button
{
    
    -fx-border-color: grey;
    
    -fx-background-color: linear-gradient(to right, #ddd6f3, #faaca8);
    -fx-text-fill: black;
}

.button:hover
{
    -fx-border-width: 2;
}

#goback{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    

}

