#buttons
{
    -fx-background-radius: 20;
    -fx-border-color: grey;
    -fx-border-radius: 20;
    -fx-background-color: linear-gradient(to right, #ddd6f3, #faaca8);
    -fx-text-fill: black;
}

#buttons:hover
{
    -fx-border-width: 2;
}